body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(86, 78, 231);
    background: linear-gradient(90deg, rgb(49, 41, 206) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
html{
    font-size: 62.5%;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fefefe;
}
header h1{
    font-size: 40px;
}
header p{
    font-size: 20px;
}
main{
    display: flex;
    flex-direction: column;
}
main video{
    width: 90%;
    align-self: center;
}
main button{
    width: 20%;
    margin-left: 5%;
}